@import "tailwindcss";

@theme {
  --color-primary-50: #f0f9ff;
  --color-primary-100: #e0f2fe;
  --color-primary-200: #bae6fd;
  --color-primary-300: #7dd3fc;
  --color-primary-400: #38bdf8;
  --color-primary-500: #0ea5e9;
  --color-primary-600: #0284c7;
  --color-primary-700: #0369a1;
  --color-primary-800: #075985;
  --color-primary-900: #0c4a6e;
  --color-primary-950: #082f49;

  /* Golden Brown Shades */
  --color-golden-brown-50: #f8fafc;
  --color-golden-brown-100: #f4e1c8;
  --color-golden-brown-200: #e9c292;
  --color-golden-brown-300: #dfa45b;
  --color-golden-brown-400: #d08529;
  --color-golden-brown-500: #99621e; /* DEFAULT */
  --color-golden-brown-600: #7b4e18;
  --color-golden-brown-700: #5c3b12;
  --color-golden-brown-800: #3d270c;
  --color-golden-brown-900: #1f1406;

  /* Persian Orange Shades */
  --color-persian-orange-50: #f6e8df;
  --color-persian-orange-100: #edd1bf;
  --color-persian-orange-200: #e5ba9f;
  --color-persian-orange-300: #dca37f;
  --color-persian-orange-400: #d38b5d; /* DEFAULT */
  --color-persian-orange-500: #c06a35;
  --color-persian-orange-600: #905027;
  --color-persian-orange-700: #60351a;
  --color-persian-orange-800: #301b0d;
  --color-persian-orange-900: #150d06;

  /* Mindaro Shades */
  --color-mindaro-50: #fdfff1;
  --color-mindaro-100: #faffe2;
  --color-mindaro-200: #f8ffd4;
  --color-mindaro-300: #f5ffc6;
  --color-mindaro-400: #f3ffb6; /* DEFAULT */
  --color-mindaro-500: #e4ff60;
  --color-mindaro-600: #d6ff08;
  --color-mindaro-700: #92af00;
  --color-mindaro-800: #495800;
  --color-mindaro-900: #242c00;

  /* Cambridge Blue Shades */
  --color-cambridge-blue-50: #e3ece6;
  --color-cambridge-blue-100: #c8d9ce;
  --color-cambridge-blue-200: #acc5b5;
  --color-cambridge-blue-300: #90b29c;
  --color-cambridge-blue-400: #739e82; /* DEFAULT */
  --color-cambridge-blue-500: #5a8268;
  --color-cambridge-blue-600: #44614e;
  --color-cambridge-blue-700: #2d4134;
  --color-cambridge-blue-800: #17201a;
  --color-cambridge-blue-900: #0b100d;

  /* Cal Poly Green Shades */
  --color-cal-poly-green-50: #cde5cf;
  --color-cal-poly-green-100: #9acb9f;
  --color-cal-poly-green-200: #68b16f;
  --color-cal-poly-green-300: #45874c;
  --color-cal-poly-green-400: #2c5530; /* DEFAULT */
  --color-cal-poly-green-500: #234326;
  --color-cal-poly-green-600: #1a321c;
  --color-cal-poly-green-700: #112213;
  --color-cal-poly-green-800: #091109;
  --color-cal-poly-green-900: #040804;
}

/* Add to your global CSS */
input[type="file"]::file-selector-button {
  @apply bg-gray-200 text-gray-800 py-1.5 px-3 rounded-l border-r border-gray-300;
  @apply hover:bg-gray-300;
}

input[type="file"] {
  @apply text-gray-600;
}
